repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: pytest-check
        name: pytest
        entry: bash -c 'for dir in c*/; do (cd "$dir" && [ -f "tests/conftest.py" ] || [ -f "test_*.py" ] && pytest) || true; done'
        language: system
        pass_filenames: false
        always_run: true
